@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

h1 {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  font-size: 50px;
  font-weight: 100;
  text-align: center;
  color: white;
}

p {
  margin: 0 60px;
  font-weight: 300;
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  color: black;
}

section {
  width: 100%;
  padding: 60px 0;
  background: white;
}

.img {
  padding: 0;
  min-height: 500px;
  background-attachment: fixed;
  background-position: 50% 0;
  background-repeat: no-repeat;
}

.img:first-child {
  height: 300px;
  min-height: inherit;
  background-attachment: inherit;
  background-position: center;
  background-size: cover;
}




.topnav {
  overflow: hidden;
  background-color: rgba(8, 87, 255, 0.919);
  z-index: 1;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 9px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

#navbar {
overflow: hidden;
background-color: #333;
}

#navbar a {
float: left;
display: block;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

#navbar a:hover {
background-color: #ddd;
color: black;
}

#navbar a.active {
background-color: #04AA6D;
color: white;
}

.content {
padding: 16px;
}

.sticky {
position: fixed;
top: 0;
width: 100%;
}

.sticky + .content {
padding-top: 60px;
}
